dash>=2.14.0
numpy>=1.16.2
pandas>=2.1.0
plotly==5.18.0
dash_mantine_components==0.12.1
openpyexcel==2.5.14
openpyxl==3.1.2
pytest==8.0.0
pyarrow==15.0.0
gunicorn==21.2.0
pandera==0.18.3
dash-iconify==0.1.2
nbformat==5.10.3
dash-auth==2.0.0
python-dotenv==1.0.1